{% extends 'base.html' %} {% load static %} {% block content%}
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="my-4">Featured & Latest Posts...</h1>

      <!-- Blog Post -->
      {% for post in page_obj %}
      <div class="card mb-4">
        <img
          class="card-img-top"
          src="{{ post.heading_image.url}}"
          alt="Card image cap"
        />

        <div class="card-body">
          <h2 class="card-title">{{ post.heading }}</h2>
          <p class="card-text">{{post.content | slice:":255" | safe}}</p>
          <a href="{% url 'post_details' post.id %}" class="btn btn-primary"
            >Read More &rarr;</a
          >
        </div>
        <div class="card-footer text-muted">
          Updated On: {{post.updated_date}}
        </div>
      </div>
      {% endfor %}

      <!-- Pagination -->

      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          {% if page_obj.has_previous %}
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            >&larr; Previous</a
          >
          {%endif%}
        </li>
        <li class="page-item">
          {% if page_obj.has_next%}
          <a class="page-link" href="?page={{ page_obj.next_page_number}}"
            >Next &rarr;</a
          >
          {% endif%}
        </li>
      </ul>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <form action="{% url 'search' %}" method="GET">
            <div class="input-group">
              <input
                type="text"
                name="keyword"
                class="form-control"
                placeholder="Search for..."
              />
              <span class="input-group-append">
                <button type="submit" class="btn btn-secondary" type="button">
                  Go!
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <!-- Categories Widget -->
      <!-- <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form
                class="row align-items-center"
                action="{% url 'search' %}"
                method="GET"
                name="blog_category"
              >
                <div class="col-md-6">
                  <select class="form-select" id="inlineFormSelectPref">
                    <option selected disabled hidden>Categories</option>
                    {% for tags in blog_category_search %}
                    <option value="{{ tags }}">{{ tags }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-6">
                  <button type="submit" class="btn btn-block btn-primary">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->

      <div class="card my-4">
        <h5 class="card-header">Follow us on</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 d-flex text-decoration-none">
              <div class="col-md-3">
                <a href="">
                  <ion-icon name="logo-facebook" size="large"></ion-icon>
                </a>
              </div>
              <div class="col-md-3">
                <a href="">
                  <ion-icon name="logo-instagram" size="large"></ion-icon>
                </a>
              </div>
              <div class="col-md-3">
                <a href="">
                  <ion-icon name="logo-twitter" size="large"></ion-icon>
                </a>
              </div>
              <div class="col-md-3">
                <a href="">
                  <ion-icon name="logo-youtube" size="large"></ion-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are
          easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
{% endblock%}
