{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="container">
  <div class="row mt-5 mx-auto">
    <div class="col-md-4 details-image mx-auto">
      <img src="{% static './assets/img/register.svg' %}" alt="" width="100%" />
    </div>
    <div class="col-md-6 text-left mx-auto card mb-5 p-2">
      <form action="" method="POST">
        {% csrf_token %}
      		<fieldset class="form-group">
      			<legend class="border-bottom mb-4">
      				Join Today
      			</legend>
      			{{ form | crispy }}
      		</fieldset>
            <div class="d-grid gap-2 mt-1">
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
      		
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign UP Now</a> </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
